In [1]:
from selenium import webdriver
import urllib
import pandas as pd
from bs4 import BeautifulSoup
from selenium.webdriver.common.keys import Keys
import time as time
import datetime as dt
from lxml import html
# import dependencies

In [2]:
#use selenium to key in the rental car parameters
browser = webdriver.Firefox() #I only tested in firefox
browser.get('http://costcotravel.com/Rental-Cars')
browser.implicitly_wait(5)#wait for webpage download
browser.find_element_by_xpath('//div/input[@id="pickupAirportTextWidget"]').send_keys('PHX')
browser.implicitly_wait(5) #wait for the airport suggestion box to show
browser.find_element_by_xpath('//li[@class="sayt-result"]').click() 
#click the  airport suggestion box 

browser.find_element_by_xpath('//input[@id="pickupDateWidget"]').send_keys('11/21/2015')
browser.find_element_by_xpath('//input[@id="dropoffDateWidget"]').send_keys('11/29/2015',Keys.RETURN)

browser.find_element_by_xpath('//select[@id="pickupTimeWidget"]/option[@value="11:00 AM"]').click()
browser.find_element_by_xpath('//select[@id="dropoffTimeWidget"]/option[@value="05:00 PM"]').click()
browser.implicitly_wait(5) #wait for the clicks to be completed
browser.find_element_by_link_text('SEARCH').click()
#click the search box

time.sleep(8) #wait for firefox to download and render the page
n = browser.page_source #grab the html source code

tree = html.document_fromstring(n) #create lxml object

class_name = tree.xpath('//tbody/tr/th[@class="tar"]') #get the car class names

dict_key = [i.text for i in class_name] #put all car class name to a list

In [14]:
soup = BeautifulSoup(n)

In [74]:
all_tags = [i for i in soup.findAll('th',{"class":"tar"}) if i.text.startswith('Tax')==False]
masterlist = []
all_tags[0].findParent().text
for i in range(len(all_tags)):
    masterlist.append(str(all_tags[i].findParent().text).replace('Not Available','$NA').replace(',','').split('$'))

masterlist

[['Economy Car', '283', '462', '617', '299'],
 ['Compact Car', '283', '423', '447', '299'],
 ['Intermediate Car', '282.96', '443', '418', '299'],
 ['Standard Car', '312', '482', '456', '326'],
 ['Fullsize Car', '312', '482', '456', '326'],
 ['Premium Car', '271', '1084', '490', '264'],
 ['Intermediate SUV', '245', '1096', '523', '264'],
 ['Standard SUV', '409', '1179', '663', '415'],
 ['Fullsize Crossover', '626', 'NA', 'NA', '616'],
 ['Premium Crossover', 'NA', 'NA', 'NA', '591'],
 ['Mini Van', '476', '1603', '490', '477'],
 ['Standard Van', '727', 'NA', 'NA', 'NA'],
 ['Fullsize SUV', '598', '1553', '685', '591'],
 ['Standard Convertible', '387', '1120', '418', '396'],
 ['Standard Specialty', '362', 'NA', 'NA', '372'],
 ['Luxury Car', 'NA', '1120', '1066', 'NA'],
 ['Premium SUV', '788', '1824', '891', '765'],
 ['Luxury SUV', '992', 'NA', 'NA', '953'],
 ['Fullsize Van', '1097', '1223', '1124', '1050']]

In [77]:


pd.DataFrame(masterlist)

                       0       1     2     3     4
0            Economy Car     283   462   617   299
1            Compact Car     283   423   447   299
2       Intermediate Car  282.96   443   418   299
3           Standard Car     312   482   456   326
4           Fullsize Car     312   482   456   326
5            Premium Car     271  1084   490   264
6       Intermediate SUV     245  1096   523   264
7           Standard SUV     409  1179   663   415
8     Fullsize Crossover     626    NA    NA   616
9      Premium Crossover      NA    NA    NA   591
10              Mini Van     476  1603   490   477
11          Standard Van     727    NA    NA    NA
12          Fullsize SUV     598  1553   685   591
13  Standard Convertible     387  1120   418   396
14    Standard Specialty     362    NA    NA   372
15            Luxury Car      NA  1120  1066    NA
16           Premium SUV     788  1824   891   765
17            Luxury SUV     992    NA    NA   953
18          Fullsize Van    1097  1223  1124  1050

#create a masterlist that will contains all the dicts we generate to put into pandas
masterlist=[]
for i in dict_key:
    masterlist.append({i:dict_value.pop(0)})

test = pd.DataFrame.from_dict(masterlist)
#this generated a DataFrame that is kind of messy

test = test.mean(dropna=True)
test = test.order()

test = test.to_frame("update @ %s" %dt.datetime.now().strftime("%m-%d %H:%S %p"))

test.to_csv('data/%s.csv'%dt.datetime.now().strftime("%m-%d %H-%S %p") )

masterdf = pd.read_csv('data/master.csv', index_col=0)
masterdf = pd.concat([masterdf, test],axis = 1)
masterdf.to_csv('data/master.csv')